@import '../settings/index';
@import '../common/media'; 

.tips-list-sidebar {
    flex-shrink: 0;
    font: 400 15px/1.33 Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    overflow: hidden;

    .module_main {
        flex-grow: 1;
        transition: all .2s linear;
    }
    
    .tips_panel {
        padding-bottom: 7px;
        .tips_panel-inner{
            padding-left: 20px;
            position: relative;
            align-items: center;
            background-color: #f5f5f5;
            background: linear-gradient(115deg,#f5f5f5,#f5f5f5 88%,#fff 0);
            box-shadow: 0 -1px 0 0 rgba(0,0,0,.2);
            color: #222;
            display: flex;
            font: 15px Roboto Condensed,Roboto,Arial,Helvetica,sans-serif;
            justify-content: space-between;
            padding: 10px 55px 10px 10px;
            position: relative;
            &::after{
                border-style: solid;
                border-width: 2px 2px 0 0;
                content: "";
                height: 10px;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                transition: all .2s linear;
                width: 10px;
            }
        }
        .tips_panel-title{
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            font-size: 15px;
        }
    }
    .tips_panel:not(:last-of-type) {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin: 0;
            padding: 0;
        &::before{
            display: none;
        }
        }
    }
    
}