.bookmaker_rows {
  padding-top: 15px;

  @media (min-width: $desktop) {
    padding: 15px;
  }
}

.bookmaker_card {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s linear;

  &:not(.bookmaker_card--big):hover {
    box-shadow: inset 0 0 15px 7px #efefef;

    .btn_fake {
      color: $white;
      background: $main-color;

      &::after {
        border-color: $white;
      }
    }
  }

  &-holder {
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px #bbb;
    border-radius: 5px;
  }

  &-left,
  &-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  &-left {
    width: 115px;
    min-width: 115px;
    padding: 10px 7px;
  }

  &-right {
    width: calc(100% - 115px);
    padding: 10px 5px;

    &--big {
      @extend .bookmaker_card-right;
      flex: 1 1 auto;
      justify-content: space-around;
      width: auto;
      min-height: 145px;
      padding: 8px 15px 8px 5px;

      .content & {
        @media (min-width: $tablet) and (max-width: $desktop) {
          flex-direction: column;
          justify-content: center;
          width: 100%;
        }
      }

      @media (min-width: $tablet) {
        flex-wrap: nowrap;
        padding: 20px;
      }

      @media (min-width: $desktop) {
        flex-direction: row;
        align-items: center;
        width: 57%;
        padding-left: 10px;
      }
    }
  }
}

.bookmaker_wrap {
  &:first-of-type {
    position: relative;
    margin-bottom: 33px;

    &::before {
      position: absolute;
      top: -15px;
      right: -15px;
      bottom: -15px;
      left: -15px;
      z-index: 0;
      background-color: $yellow-bets;
      border-radius: 5px;
      content: "";
    }
  }

  &:nth-of-type(-n + 3) {
    .bookmaker_logo_holder::after {
      background-image: linear-gradient(to right, #fff 0%, #fff0a6 100%);
    }
  }

  .bookmaker_card-holder {
    overflow: hidden;
  }
}

.bookmaker_holder {
  position: relative;
  margin-bottom: 12px;
}

.bookmaker_card_description {
  display: none;

  p {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    display: block;
    flex: 1 1 auto;
    width: calc((100% - 200px) / 2);
    padding: 0 15px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}

.bookmaker_label {
  position: absolute;
  top: 13px;
  left: -33px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  padding-top: 2px;
  background-color: $main-color;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);

  &-text {
    max-width: 65px;
    color: $white;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }
}

.bookmaker_logo_holder {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 180px;
  min-width: 150px;
  max-width: 150px;
  padding: 20px 30px 20px 5px;
  overflow: hidden;
  border-radius: 5px 0 0 5px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 0;
    width: 550px;
    height: 420px;
    background-image: linear-gradient(to right, #fff 49%, #e6e5e5 78%);
    transform: rotate(70deg) skew(-130deg);
    transform-origin: 100% 0;
    content: "";
    pointer-events: none;
  }

  @media (min-width: $tablet) {
    min-width: 200px;
  }

  @media (min-width: $tablet) {
    width: 43%;
    padding: 13px 30px 10px 5px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 345px;
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

.bookmaker_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  min-width: 85px;
  height: 85px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    max-width: calc(100% - 23px);
    max-height: calc(100% - 23px);
    margin: 0;
  }

  &--big {
    @extend .bookmaker_logo;
    margin-bottom: 10px;

    img {
      max-height: 100%;
    }

    @media (min-width: 1200px) {
      margin: 0 10px 0 0;
    }
  }

  @media (min-width: 1200px) {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }

  @media (min-width: 1200px) {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
}

.bookmaker_review {
  padding: 5px;

  @media (min-width: 1200px) {
    width: calc(100% - 110px);
  }
}

.bookmaker_title {
  width: 100%;
  margin-bottom: 15px;
  color: $black-light;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;

  &--big {
    @extend .bookmaker_title;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 20px;

    .content & {
      @media (min-width: $tablet) and (max-width: $desktop) {
        width: 100%;
      }
    }

    .b-title {
      display: block;
      max-height: 97px;
      margin-bottom: 15px;
      overflow: hidden;

      @media (min-width: $desktop) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $tablet) {
      width: calc(100% - 200px);
    }

    @media (min-width: $desktop) {
      flex: 1 1 auto;
      padding-right: 15px;
      font-size: 24px;
      line-height: 1;
    }
  }
}

.bookmaker_title_add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 10px;
  color: #fe5e31;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  img {
    width: 15px;
    margin-right: 5px;
  }

  @media (min-width: $tablet) {
    padding-bottom: 0;
  }
}

.bookmaker_info {
  width: 100%;
  max-width: 230px;
  margin: 0 auto;
  padding: 0 6px;
  text-align: center;

  .btn_fake {
    border-color: $main-color;
  }

  &--big {
    @extend .bookmaker_info;
    width: 100%;
    padding: 0;

    .btn_fake {
      padding: 8px 20px;
      font-weight: 400;
      font-size: 15px;
      border-color: $main-color;

      &::after {
        display: none;
      }
    }

    @media (min-width: $tablet) {
      width: 200px;
      min-width: 200px;
    }
  }

  &-note {
    padding-top: 8px;
    color: #4a4a4a;
    font-size: 10px;
    line-height: 1.1;
  }

  @media (min-width: $tablet) {
    margin: 0 auto;
  }
}

.bookmaker_note {
  position: relative;
  padding-top: 5px;
  color: $gray-dark;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
}

.bookmaker_benefits {
  flex-grow: 1;
  order: 3;
  width: 100%;
  padding-top: 10px;

  @media (min-width: $tablet) {
    order: 0;
    width: auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 10%;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-left: 0;
    font-size: 12px;
    line-height: 17px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .svg-icon {
      width: 25px;
      height: 27px;
      fill: #c12a2a;
      margin-right: 5px;
    }

    &.active {
      .svg-icon {
        fill: #37b549;
      }
    }
  }
}

.bookmaker_warn {
  font-size: 13px;
}

.offer-day_title {
  position: relative;
  z-index: 2;
  display: block;
  margin-bottom: 12px;
  color: $black-light;
  font-size: 20px;
  line-height: 1.4;

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

//offers-box version2

.bookmaker-filter {
  padding-top: 5px;
  font-weight: 700;
  font-size: 16px;

  .filter-icon {
    width: 15px;
    height: 15px;
    opacity: 0.7;
  }

  .title {
    color: $gray-600;
  }

  .filter-result {
    display: block;
    margin-bottom: 5px;
    color: #d52332;
    height: 20px;

    .js-plural,
    .js-not-found,
    .js-count-result {
      position: absolute;
      top: -9999px;
      left: -9999px;
      visibility: hidden;
      opacity: 0;
    }

    .show {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
}

.bookmaker-filter__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 7px;
  padding: 5px;
  font-size: 15px;
  text-align: center;

  .bookmaker-filter__option {
    min-width: 105px;
    margin: 0 5px 10px;
    padding: 7px 5px;
    color: $gray-600;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s linear;

    @media (min-width: $desktop) {
      padding: 9px 5px;
    }

    &:hover {
      color: $white;
      background: $orange;
    }

    &.active {
      color: $white;
      background: $orange;
    }
  }

  @media (min-width: $tablet) {
    flex-wrap: wrap;
    margin: 0 -5px 10px;
    padding: 5px 0 0;
    overflow: visible;
  }
}

.bookmaker-row {
  margin-bottom: 20px;
}

.bookmaker-row__holder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  justify-content: space-between;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px;
    border: 2px solid #d52332;
    border-radius: 7px;
    opacity: 0;
    transition: opacity 0.2s linear;
    content: "";
    pointer-events: none;
  }

  &:hover {
    @include media(lg) {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

      &::after {
        opacity: 1;
      }
    }
  }

  .exclusive & {
    margin-top: 10px;

    &::before {
      position: absolute;
      top: -12px;
      left: -5px;
      z-index: 5;
      padding: 1px 32px 1px 15px;
      color: $white;
      font-weight: 400;
      text-transform: uppercase;
      background: linear-gradient(
        70deg,
        #d52332 0%,
        #d52332 calc(100% - 10px),
        transparent 10px
      );
      box-shadow: -3px 2px 4px 0 rgba(0, 0, 0, 0.2);
      content: attr(data-title);
    }
  }

  a {
    color: #222;
  }
}

#row-holder {
  &::before {
    content: none;
  }
}

.bookmaker-offers__logo {
  position: relative;
  display: flex;
  width: 145px;
  height: 138px;
  overflow: hidden;
  border-radius: 5px 0 5px 5px;

  @media (min-width: 375px) {
    width: 158px;
  }

  @media (min-width: $tablet) {
    width: 167px;
    height: auto;
  }

  .img-holder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  img {
    position: relative;
    z-index: 2;
    width: 100px;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    max-height: 80px;
    @media (min-width: $tablet) {
      width: 112px;
    }

    @media (min-width: $desktop) {
      width: 112px;
    }
  }
}

.bookmaker-offers__info {
  display: flex;
  flex-direction: column;
  width: calc(99% - 150px);

  .name {
    margin-bottom: 5px;
    color: inherit;
    text-transform: capitalize;
  }

  .text {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.2;

    @media (min-width: 375px) {
      font-size: 22px;
      line-height: 1.15;
    }
  }

  @media (min-width: 375px) {
    width: calc(99% - 167px);
  }

  @media (min-width: $desktop) {
    padding: 10px;
    flex-grow: 1;
    width: calc(99% - 410px);
  }
}

.bookmaker.bookmaker-offers__tags {
  display: none;
  margin: 0;

  li {
    margin: 0 4px 8px;
    padding: 4px 12px;
    color: $black-light;
    line-height: 1;
    border: solid 1px #979797;
    border-radius: 4px;
    transition: border-color 0.2s linear;

    &::before {
      content: none !important;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
    text-transform: capitalize;
  }
}

.mark.mark-list {
  display: inline-flex;
  flex-wrap: wrap;
  color: $gray-600;
  font-weight: 700;
  margin: 0 0 5px 0;

  .icon-medal,
  .icon-shield {
    width: 15px;
    height: 15px;
  }

  .mark-list-bonuses {
    margin-bottom: 5px;
    padding-left: 0;

    &::before {
      content: none;
    }
  }
}

.bookmaker-offers__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 3;
  width: 100%;
  margin: 15px 0;

  .score-text {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    text-align: center;
  }

  .value {
    color: $black-light;
    font-weight: 700;
  }

  .review-link {
    color: $gray-600;
    font-size: 12px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .bookmaker-offer__btn {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      width: 8px;
      height: 8px;
      transform: translateY(-50%) rotate(45deg);
      border-style: solid;
      border-width: 2px 2px 0 0;
      transition: all 0.2s linear;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 115px;
    max-width: calc(100% - 170px);
    color: $white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    background-color: $red;
    border-radius: 24px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s linear;
    }

    @media (min-width: 375px) {
      min-width: 130px;
      font-size: 12px;
      line-height: 0.8;
    }

    @media (min-width: $desktop) {
      min-width: 130px;
      max-width: none;
      margin-left: 0;
      padding: 11px 17px;
    }
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    align-items: flex-end;
    width: 190px;
  }
}

.bookmaker-offers__score {
  position: absolute;
  top: 140px;
  left: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  max-width: 150px;
  padding-right: 10px;
  @media (min-width: $tablet) {
    position: static;
  }

  .score-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 41px;
    height: 36px;
    margin-bottom: 0;
    padding: 5px;
    color: #d52332;
    font-weight: 700;
    font-size: 8px;
    text-align: center;
    background: none;
    border: solid 1px rgba(213, 35, 50, 0.7);
    border-radius: 4px;
  }

  @include media(lg) {
    flex-direction: row;
    max-width: none;
    margin-bottom: 20px;
  }
}

.score-box__rating {
  font-size: 22px;
  line-height: 1.1;
}

.bookmaker-offer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  max-width: calc(100% - 170px);
  margin-left: 10px;
  margin-left: auto;
  padding: 7px 15px;
  color: $white;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background-color: $red;
  border-radius: 24px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s linear;
  }

  @include media(lg) {
    min-width: 120px;
    max-width: none;
    margin-left: 0;
    margin-right: 10px;
  }
}

.score-box__rating {
  font-size: 22px;
  line-height: 1.1;
}

.bookmaker-offers__addtext {
  font-size: 12px;
  line-height: 1.2;

  a {
    color: $gray-dark;

    &:hover {
      color: $gray-dark;
    }
  }
}

*:lang(es) {
  .bookmaker-offer__btn {
    background-color: #fff;
    border: 1px solid #009f27;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 24px;
    color: #0e0e0e;
    min-width: 150px;
    &:hover {
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s linear;
      background: #f9941c;
    }
  }
}

*:lang(es-CL) {
  .bookmaker-offer__btn {
    background-color: #fff;
    border: 1px solid #009f27;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 24px;
    color: #0e0e0e;
    min-width: 150px;
    &:hover {
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s linear;
      background: #f9941c;
    }
  }
}

*:lang(es-PE) {
  .bookmaker-offer__btn {
    background-color: #fff;
    border: 1px solid #009f27;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 24px;
    color: #0e0e0e;
    min-width: 150px;
    &:hover {
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s linear;
      background: #f9941c;
    }
  }
}

*:lang(es-PO) {
  .bookmaker-offer__btn {
    background-color: #fff;
    border: 1px solid #009f27;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 24px;
    color: #0e0e0e;
    min-width: 150px;
    &:hover {
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s linear;
      background: #f9941c;
    }
  }
}

*:lang(es-MX) {
  .bookmaker-offer__btn {
    background-color: #fff;
    border: 1px solid #009f27;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 24px;
    color: #0e0e0e;
    min-width: 150px;
    &:hover {
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s linear;
      background: #f9941c;
    }
  }
}

*:lang(pt-BR) {
  .bookmaker-offer__btn {
    background-color: #fff;
    border: 1px solid #009f27;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 24px;
    color: #0e0e0e;
    min-width: 150px;
    &:hover {
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s linear;
      color: #ffdf00;
      background: #009f27;
    }
  }
}
